.img-t1 {
    background-image: url("../img/image-1.png");
    position: absolute;
    width: 1600px;
    height: 900px;
    left: 0px;
    top: 0px;
}

.tmn-3 {
    position: absolute;
    left: 5%;
    right: 93.25%;
    top: 34.78%;
    bottom: 34.78%;
}

.img-b1 {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0px;
    top: 0px;
}

.tmn-2 {
    position: absolute;
    width: 152px;
    height: 28px;
    left: 731px;
    top: 32px;

    display: flex;
    align-items: center;
}

.txt-h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;

    color: #FFFFFF;
}

.tmn-1 {
    position: absolute;
    width: 52px;
    height: 52px;
    right: 72px;
    top: 20px;
}

.img-c1 {
    position: absolute;
    left: 17.86%;
    right: 17.86%;
    top: 14.29%;
    bottom: 14.29%;
}

.nav-a1 {
    position: absolute;
    width: 1600px;
    height: 92px;
    left: 0px;
    top: 0px;
}

.ttt-1 {
    position: absolute;
    width: 112px;
    height: 4px;
    left: 80px;
    top: 248px;
}

.ttx-1 {
    position: absolute;
    width: 704px;
    height: 328px;
    left: 80px;
    top: 292px;
}

.txt-h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;

    color: #FFFFFF;
}

.p-222 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #FFFFFF;
}

.bttn-1 {
    box-sizing: border-box;

    position: absolute;
    width: 56px;
    height: 56px;
    left: 136px;
    top: 796px;
    
    border: 1px solid #FFFFFF;
    transform: rotate(-180deg);
    background: none;
    border-radius: 30px;
}

.vcr-1 {
    transform: rotate(-180deg);
}

.bttn-2 {
    box-sizing: border-box;

    position: absolute;
    width: 56px;
    height: 56px;
    left: 156px;
    top: 740px;

    border: 1px solid #FFFFFF;
    background: none;
    border-radius: 30px;
}