body {
    margin: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
}

.text {
    color: white;
    font-size: 28px;
    display: contents;
    line-height: 42px;
}

.risco-alinhamento {
    flex-direction: column-reverse;
    display: flex;
    font-size: 3px;
    align-items: flex-start;
    padding-left: 22px;
}

.carrinho {
    display: inline-block;
    width: 70px;
    padding-top: 8px;
}

.correcao {
    border: none;
    background: none;
}

.image-1 {
    background-image: url("../images/image1.png");
    position: absolute;
    width: 1583px;
    height: 789px;
    left: 0px;
    top: 0px;
}

.text-2 {
    justify-content: start;
    color: white;
    padding-left: 40px;
    font-size: 80px;
    padding-top: 100px;
}

.text-3 {
    position: absolute;
    color: white;
    padding-left: 40px;
    font-size: 32px;
    font-weight: 80;
    top: 470px;
}

.button-1 {
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    font-size: 40px;
    position: absolute;
    width: 56px;
    height: 56px;
    left: 156px;
    top: 650px;
}

.button-seta {
    padding-bottom: 5px;
}

.button-2 {
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    font-size: 40px;
    position: absolute;
    width: 56px;
    height: 56px;
    left: 76px;
    top: 650px;
    transform: rotate(-180deg);
}

.button-seta-2 {
    padding-bottom: 5px;
}

.alinhamento-button {
    align-items: baseline;
}

.image-2 {
    position: absolute;
    top: 850px;
    height: 450px;
    left: 20px;
    padding: 40px;
}

.text-4 {
    position: absolute;
    top: 860px;
    left: 900px;
    font-size: 56px;
    color: #0B1D03;
}

.text-5 {
    position: absolute;
    top: 960px;
    left: 900px;
    font-size: 30px;
    color: #0B1D03;
}

.text-6 {
    position: absolute;
    top: 1360px;
    left: 140px;
    font-size: 56px;
    color: #0B1D03;
}

.text-7 {
    position: absolute;
    top: 1465px;
    left: 140px;
    font-size: 30px;
    color: #0B1D03;
}

.image-3 {
    position: absolute;
    top: 1419px;
    height: 450px;
    left: 680px;
    padding-bottom: 180px;
}

.text-8 {
    position: absolute;
    top: 1980px;
    left: 30px;
    font-size: 56px;
    color: #A0996C;
}

.text-9 {
    position: absolute;
    top: 2150px;
    left: 115px;
    font-size: 24px;
    width: 300px;
}

.image-4 {
    position: absolute;
    top: 2250px;
    height: 220px;
    left: 170px;
}

.number-1 {
    position: absolute;
    top: 2480px;
    left: 170px;
    font-size: 32px;
    color: #0B1D03;
    width: 100px;
}

.number-2 {
    position: absolute;
    top: 2497px;
    left: 260px;
    font-size: 24px;
    color: #969696;
    width: 100px;
}

.button-3 {
    position: absolute;
    top: 2580px;
    left: 62px;
    font-size: 24px;
    background-color: #0B1D03;
    border: none;
    border-radius: 3px;
    height: 66px;
    width: 400px;
    color: white;
}

.center {
    position: absolute;
    left: 500px;
    bottom: 789px;
}

.end {
    position: absolute;
    left: 1000px;
    bottom: 789px;
}

.start-2 {
    position: absolute;
    left: 0px;
    bottom: 200px;
}

.center-2 {
    position: absolute;
    left: 500px;
    bottom: 200px;
}

.end-2 {
    position: absolute;
    left: 1000px;
    bottom: 200px;
}

.localizacao {
    position: absolute;
    top: 3500px;
    left: 90px;
    display: flex;
}

.img-1 {
    height: 40px;
}

.img-2 {
    height: 40px;
    padding-left: 228px;
}

.img-3 {
    height: 40px;
    padding-left: 228px;
}

.img-4 {
    height: 40px;
    padding-left: 228px;
}

.img-5 {
    height: 40px;
    padding-left: 228px;
}

.texto-tamanho {
    font-size: 20px;
}

.texto-tamanho-2 {
    font-size: 20px;
    padding-left: 215px;
}

.texto-tamanho-3 {
    font-size: 20px;
    padding-left: 230px;
    line-height: 3px;
}

.texto-tamanho-4 {
    font-size: 20px;
    padding-left: 180px;
    line-height: 3px;
}

.texto-tamanho-5 {
    font-size: 20px;
    padding-left: 190px;
    line-height: 3px;
}

.texto-tamanho-6 {
    font-size: 20px;
    padding-left: 210px;
    line-height: 2px;
}

.texto-tamanho-7 {
    font-size: 20px;
    padding-left: 215px;
    line-height: 0px;
}

.texto-tamanho-8 {
    font-size: 20px;
    padding-left: 196px;
    line-height: 0px;
}

.img-6 {
    position: absolute;
    top: 3700px;
    left: 70px;
    height: 550px;
}

.text-10 {
    position: absolute;
    top: 4050px;
    left: 110px;
    font-size: 60px;
    color: white;
}

.text-11 {
    position: absolute;
    top: 4160px;
    left: 110px;
    color: white;
    font-size: 20px;
}

.img-7 {
    position: absolute;
    top: 3700px;
    left: 820px;
    height: 550px;
}

.text-12 {
    position: absolute;
    top: 4050px;
    left: 860px;
    font-size: 60px;
    color: white;
}

.text-13 {
    position: absolute;
    top: 4160px;
    left: 860px;
    color: white;
    font-size: 20px;
}

.text-14 {
    position: absolute;
    top: 4360px;
    left: 65px;
    font-size: 56px;
    color: #0B1D03;
}

.select {
    position: absolute;
    top: 4560px;
    left: 65px;
    box-sizing: border-box;
    border: 1px solid #0B1D03;
    border-radius: 2px;
    padding-right: 265px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    text-align: center;
    color: #969696;
}

.search-box {
    position: absolute;
    top: 4560px;
    left: 515px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid #0B1D03;
    border-radius: 2px;
}

.search-txt {
    height: 43px;
    width: 930px;
    outline: none;
    border: none;
    padding-left: 20px;
}

.search-btn {
    padding-right: 20px;
    padding-top: 3px;
}

.image-5 {
    position: absolute;
    top: 4630px;
    height: 512px;
    left: 65px;
}

.footer {
    position: absolute;
    top: 5230px;
    left: 70px;
    display: flex;
    align-items: baseline;
}

.txt-1 {
    color: #0B1D03;
    height: 28px;
}

.grid-1 {
    color: #1F1F1F;
    height: 28px;
    padding-left: 137px;
    display: grid;
}

.grid-2 {
    color: #1F1F1F;
    height: 28px;
    padding-left: 195px;
    display: grid;
}

.grid-3 {
    color: #1F1F1F;
    height: 28px;
    padding-left: 303px;
}

.links-a {
    text-decoration: none;
    color: #1F1F1F;
    height: 28px;
    font-size: 20px;
}

.position-a-1 {
    padding-left: 39px;
}

.position-a-2 {
    padding-left: 39px;
}

.text-end {
    position: absolute;
    top: 5500px;
    padding-left: 640px;
    font-size: 20px;
    color: #1F1F1F;
}

.text-end-2 {
    position: absolute;
    top: 5475px;
    padding-left: 785px;
    font-size: 30px;
    color: #1F1F1F;
}